*{
   width: 100%;
   line-height:1;
   list-style: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





h1 {
    color: black;
    border: 3px solid black;

}

.h2-ejemplo {
    color: black;
    display: inline-block;
    font-style: italic;
    
}

.h3-ejemplo {
     color: black;
     font-style: italic;
     display: block;

     }
.section-images { 
    background-color: rgb(28, 202, 202);
    background-image: url("images/caracteristicas de cada lenguaje.png" );
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
    background-size: cover;
}

.footer_article{
    background-color: chocolate;
    background-position: center;
    background-size: auto;
}

.index-form{
    color: red;
    font-family: sans-serif;
}